CAPTCHA_PROVIDER=sandbox
CAPTCHA_API_KEY=


MAX_CONCURRENT_TASKS=10


TOTAL_SIMULATION_JOBS=10


USE_PROXY=True


PROXY_MAX_FAILURES=4


REQUEST_TIMEOUT_SECONDS=60


ONBOARDING_TARGET_URL=https://www.instagram.com/accounts/emailsignup/


SITE_VERIFY_URL=https://www.instagram.com


FERNET_KEY=
